body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: #f1eee5;
}

body::before {
  content: "";
  display: block;
  height: 66px;
}

body::after {
  content: "";
  display: block;
  height: 180px;
}

.sign-form,
.card-tugas,
.modal-content,
.card-gallery {
  background-color: #f399bf;
}

/* navbar */
nav {
  background-color: #f7c42a;
}

.hidden {
  display: none;
}

/* index */
.index-container {
  background-image: url(img/background\ yeay\ 1.svg);
  background-size: cover;
  background-position: center;
}

.poro {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0px;
  width: 280px;
}

@media screen and (max-width: 576px) {
  .poro {
    display: none;
  }
}

/* login signup*/
.sign-bg {
  min-height: calc(100vh - 180px);
  background-image: url(img/bg\ web\ -\ sign\ up\ log\ in\ 2\ 2.svg);
  background-size: cover;
  background-position: center;
}

.sign-bg .container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.sign-form {
  border-radius: 20px;
}

/* penugasan */
.tugas-container {
  min-height: 100vh;
  background-image: url(img/Web\ juga-01\ 2.svg);
  background-size: cover;
  background-position: center bottom;
}

/* panitia */
.panitia-bg {
  min-height: calc(100vh - 180px);
  background-image: url(img/Panitia\ Inti.svg);
  background-size: cover;
  background-position: center top;
}

.panitia-bg p {
  margin-top: 10px;
}

.supervisor-bg {
  height: 100%;
  width: 100%;
  background-image: url(img/ntmt.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* absensi */
.absensi-bg {
  min-height: calc(100vh - 180px);
  background-image: url(img/Absensicrop\ 1.svg);
  background-size: cover;
  background-position: center;
}

.absensi-bg .table {
  background-color: #f399bf;
}

/* footer */
footer {
  height: 180px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #395caa;
  color: white;
}

.icons {
  width: 240px;
}

.fab {
  color: white;
  font-size: 40px;
  transition: 0.6s;
}

.fab:hover {
  color: rgb(206, 84, 84);
  transform: scale(1.2);
}

/* modal */
.modal-image {
  content: "";
  display: block;
  height: 100%;
  background-image: url(img/marc-olivier-paquin-2_RQhbu0ZDQ-unsplash.jpg);
  /* background-size: cover; */
  background-position: center;
}
