body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: #f1eee5;
}

body::before {
  content: "";
  display: block;
  height: 66px;
}

body::after {
  content: "";
  display: block;
  height: 180px;
}

.sign-form,
.card-tugas,
.modal-content,
.card-gallery {
  background-color: #f399bf;
}

/* navbar */
nav {
  background-color: #f7c42a;
}

.hidden {
  display: none;
}

/* index */
.index-container {
  background-image: url(img/bg/background\ yeay\ 1.svg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.poro {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0px;
  width: 280px;
}

@media screen and (max-width: 576px) {
  .poro {
    display: none;
  }
}

.animate__animated.animate__bounce {
  --animate-duration: 2s;
}

/* login signup*/
.sign-bg {
  min-height: calc(100vh - 180px);
  background-image: url(img/bg/bg\ web\ -\ sign\ up\ log\ in\ 2\ 2.svg);
  background-size: cover;
  background-position: center;
}

.sign-bg .container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.sign-form {
  border-radius: 20px;
}

/* penugasan */
.tugas-container {
  min-height: 100vh;
  background-image: url(img/bg/Web\ juga-01\ 2.svg);
  background-size: cover;
  background-position: center bottom;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 2s;
  --animate-delay: 1s;
}

/* panitia */
.panitia-bg {
  min-height: calc(100vh - 180px);
  background-image: url(img/bg/Panitia\ Inti.svg);
  background-size: contain;
  background-position: center top;
}

.panitia-bg p {
  margin-top: 10px;
}

.text-divisi {
  display: inline-block;
  background-color: #f7c42a;
  text-decoration: none;
  color: black;
  padding: 10px 25px;
  border-radius: 30px;
  margin-top: 20px;
}

.tulisan-panit {
  background-color: rgba(247, 196, 42, 0.9);
  border-radius: 8px;
  padding: 1px;
  margin-top: 10px;
}

a.text-divisi:hover {
  color: white;
  background-color: #395caa;
}

/* absensi */
.absensi-bg {
  min-height: calc(100vh - 180px);
  background-image: url(img/bg/Absensicrop\ 1.svg);
  background-size: cover;
  background-position: center;
}

.table {
  background-color: #f399bf;
}

/* footer */
footer {
  height: 180px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #395caa;
  color: white;
}

.icons {
  width: 240px;
}

.fab {
  color: white;
  font-size: 40px;
  transition: 0.6s;
}

.fab:hover {
  color: rgb(206, 84, 84);
  transform: scale(1.2);
}

/* modal */
.modal-image {
  content: "";
  display: block;
  height: 100%;
  background-image: url(img/marc-olivier-paquin-2_RQhbu0ZDQ-unsplash.jpg);
  /* background-size: cover; */
  background-position: center;
}

/* index panitia (dashboard) */
.index-panitia .fas {
  font-size: 80px;
}

.index-panitia .kolom-direct:hover {
  background-color: lightblue;
}

.index-panitia .kolom-direct:nth-child(1):hover {
  border-start-start-radius: 30px;
  border-end-start-radius: 30px;
}

.index-panitia .kolom-direct:nth-child(2):hover {
  border-start-end-radius: 30px;
  border-end-end-radius: 30px;
}

.index-panitia .row .col-sm-8 {
  background-color: white;
  border-radius: 30px;
}

.back-btn {
  font-size: 30px;
  color: white;
}

.back-btn:hover {
  color: #395caa;
}
