body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  background-color: #f1eee5;
}

body::after {
  content: "";
  display: block;
  height: 180px;
}

.sign-form,
.card-tugas,
.modal-content,
.card-gallery {
  background-color: #f399bf;
}

/* navbar */
nav {
  background-color: #f7c42a;
}

/* index */
.index-container {
  background-image: url(img/background\ yeay\ 1.svg);
  background-size: cover;
  background-position: center;
}

/* gallery */
/* .card-1::before {
  content: "";
  display: block;
  background-image: url(img/splash.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  margin-left: -35px;
  margin-bottom: -20px;
} */

/* login signup*/
.sign-container {
  min-height: 100vh;
  background-image: url(img/bg\ web\ -\ sign\ up\ log\ in\ 2\ 2.svg);
  background-size: cover;
  background-position: center;
}

/* penugasan */
.tugas-container {
  min-height: 100vh;
  background-image: url(img/Web\ juga-01\ 2.svg);
  background-size: cover;
  background-position: center bottom;
}

/* footer */
footer {
  height: 180px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #395caa;
}

.icons {
  width: 240px;
}

.fab {
  color: white;
  font-size: 40px;
  transition: 0.6s;
}

.fab:hover {
  color: rgb(206, 84, 84);
  transform: scale(1.2);
}

/* modal */
.modal-image {
  content: "";
  display: block;
  height: 100%;
  background-image: url(img/marc-olivier-paquin-2_RQhbu0ZDQ-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
